version: 2

repo:
  public: openfeature-node-server

branches:
  - name: main

publications:
  - url: https://www.npmjs.com/package/@launchdarkly/openfeature-node-server
    description: npm

jobs:
  - docker:
      image: node:18-bullseye
    template:
      name: npm

documentation:
  gitHubPages: true
  title: LaunchDarkly OpenFeature provider for the Server-Side SDK for Node.js

sdk:
  displayName: "LaunchDarkly OpenFeature Node Server-Side"
